@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .wwt-footer {
    display: none;
  }

  .wwt-cover .wwt-footer,
  .wwt-section .wwt-footer,
  .wwt-end .wwt-footer,
  .wwt-image-full .wwt-footer {
    display: none !important;
  }
}
